# Sphinx files
doc_build/build/
doc_build/_static/
doc_build/_templates/
docs/

# Extra folders
/.idea

# pytest
/.pytest_cache/
/.coverage
/.vscode
/env

# Cache files
__pycache__/
*.pyc

# Integration test node
/integration_tests/StratisFullNode/
/integration_tests/data_dir/
